# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.metadata
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains a workspace for Visual Studio Code.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
build/
.packages
pubspec.lock

# Web related
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Environment variables
.env*

# Android related
/android/app/debug
/android/app/profile
/android/app/release
/android/key.properties

# Platform specific
/linux/
/Windows/
/macOS/
/web/